.DS_Store
.ideashelf
confluencetarget
dependenciesrepo
android.tests.dependencies
dependenciesandroid.tests.dependencies
dist
local
gh-pages
ideaSDK
clionSDK
android-studiosdk
out
tmp
intellij
workspace.xml
.versionsBackup
ideatestDatadebuggertinyAppclasses
jps-plugintestDatakannotator
jsjs.translatortestDataout
jsjs.translatortestDataout-min
jsjs.translatortestDataout-pir
.gradle
build
!srcbuild
!testbuild
.iml
!testData.iml
.idearemote-targets.xml
.idealibrariesGradle.xml
.idealibrariesMaven.xml
.ideaartifactsPILL_.xml
.ideaartifactsKotlinPlugin.xml
.ideamodules
.idearunConfigurationsJPS_.xml
.idearunConfigurationsPILL_.xml
.idearunConfigurations_FP_.xml
.idearunConfigurations_MT_.xml
.idealibraries
.ideamodules.xml
.ideagradle.xml
.ideacompiler.xml
.ideainspectionProfilesprofiles_settings.xml
.idea.name
.ideaartifactsdist_auto_
.ideaartifactsdist.xml
.ideaartifactsideaPlugin.xml
.ideaartifactskotlinc.xml
.ideaartifactskotlin_compiler_jar.xml
.ideaartifactskotlin_plugin_jar.xml
.ideaartifactskotlin_jps_plugin_jar.xml
.ideaartifactskotlin_daemon_client_jar.xml
.ideaartifactskotlin_imports_dumper_compiler_plugin_jar.xml
.ideaartifactskotlin_main_kts_jar.xml
.ideaartifactskotlin_compiler_client_embeddable_jar.xml
.ideaartifactskotlin_reflect_jar.xml
.ideaartifactskotlin_stdlib_js_ir_
.ideaartifactskotlin_test_js_ir_
.ideaartifactskotlin_stdlib_wasm_
.ideaartifactskotlinx_atomicfu_runtime_
.ideaartifactskotlinx_cli_jvm_
.ideajarRepositories.xml
.ideacsv-plugin.xml
.idealibraries-with-intellij-classes.xml
.ideamisc.xml
.ideaprotoeditor.xml
node_modules
.rpt2_cache
librariestoolskotlin-test-js-runnerlib
local.properties
buildSrcTmp
distTmp
outTmp
test.output
kotlin-nativedist
kotlin-ide